
$secondary: rgb(0, 128, 195);
$dark: rgb(0, 128, 195);
$primary: rgb(0, 0, 0);
$info: rgb(188, 228, 250);
$light: rgb(255, 255, 255);
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: true;
$text-muted: rgb(0, 0, 0);
$blockquote-small-color: rgb(0, 0, 0);
$link-color: $secondary;