{% extends 'base/base.html' %}
{% load static %}

{% block backlink %}
{% endblock backlink %}

{% block heading %}
{% endblock heading %}

{% block content %}

  {% csrf_token %}

  <!-- Jumbotron - Willkommensnachricht -->
  <section class="jumbotron text-center">
    <div class="container">
      
      <h1 class="display-4" style="font-size:2.5rem;">Wer bin ich?</h1>

      <p class="lead text-muted">
        Spielrunde
      </p>
  	  
    </div>
  </section>

  {% if user_is_host %}
    <section class="text-left mb-5">

      <h3>Spielverwaltung</h3>

      <div id="host_section">
        {% if not game_has_started %}
          {% include 'werbinich/host_section_game_not_started.html' with protocol_secure=protocol_secure domain=domain game=game %}
        {% else %}
          {% include 'werbinich/host_section_game_has_started.html' %}
        {% endif %}
      </div>

      <br>
      <div id="game_administration_messages"><br></div>

    </section>
  {% endif %}

  <section class="text-left mb-5">
    <div id="player_section">
      <div id="player_input_section">
        {% if not game_has_started %}
          {% include 'werbinich/player_input_section_1_game_not_started.html' with player_register_form=player_register_form player=player %}
        {% elif not game.is_running %}
          {% include 'werbinich/player_input_section_2_enter_werbinich_name.html' with name_assignment_form=name_assignment_form player=player %}
        {% endif %}
      </div>
      <div id="player_main_section">
        {% if not game_has_started %}
          {% include 'werbinich/player_main_section_1_game_not_started.html' with player=player all_players=all_players %}
        {% elif not game.is_running %}
          {% include 'werbinich/player_main_section_2_enter_werbinich_name.html' with player=player all_players=all_players %}
        {% elif game.is_running %}
          {% include 'werbinich/player_main_section_3_listing.html' with game=game %}
        {% endif %}
      </div>
    </div>

    <br>
    <div id="player_section_messages"><br></div>

  </section>

{% endblock %}


{% block javascript %}

  <script type="text/javascript">
    {% include 'werbinich/game.js' with game=game %}
  </script>

{% endblock %}
