Lade deine Freunde unter folgendem Link ein:
<br>
<a href="{% url 'game_page' hash=game.game_url %}">{% if protocol_secure %}https{% else %}http{% endif %}://{{ domain }}{% url "game_page" hash=game.game_url %}</a>

<br>
Wenn alle da sind, beginne das Spiel:
<br>
<button type="button"
        class="btn btn-primary"
        onclick="start_game()"
        id="start_game"
        title="Click to start the game">
    Spiel beginnen
</button>
<br>
