{% if not player %}
	Gib deinen Spielernamen ein, um teilzunehmen:
	<br>
	<form method="post" id="player_register_form">
	{{player_register_form}}
	<button type="button"
		class="btn btn-primary"
		onclick="register_player()"
		id="player_register_button"
		title="Enter name and join the game">
	  Teilnehmen
	</button>
	</form>
{% endif %}