Hier sind die zu herausfindenden Namen:
<br>
<ul>

  {% for p in game.player_set.all %}
    <li>
      {{p.player_name}}
      ->
      {% if p.player_session_key == request.session.session_key %}
        ???
      {% else %}
        {{p.werbinich_name}}
      {% endif %}
    </li>
  {% endfor %}

</ul>