{% if player %}
  Du bist als Spieler <b>{{player.player_name}}</b> angemeldet.
{% endif %}

<br>
Bereits registrierte Spieler:
<br>
{% include "werbinich/game_registered_players_part.html" with all_players=all_players %}
