{% if not player.has_assigned_werbinich_name %}
	Vergib einen zu erratenden Namen an <b>{{ player.player_to_assign.player_name }}</b>:
	<br>
	<form method="post" id="name_assignment_form">
	{{name_assignment_form}}
	<button type="button"
		class="btn btn-primary"
		onclick="assign_name()"
		id="name_assignment_button"
		title="Enter name ">
	  OK
	</button>
	</form>
{% endif %}