{% extends 'base/base.html' %}
{% load static %}

{% block backlink %}
{% endblock backlink %}

{% block heading %}
{% endblock heading %}

{% block content %}

  <!-- Jumbotron - Willkommensnachricht -->
  <section class="jumbotron text-center">
    <div class="container">
      
      <h1 class="display-4" style="font-size:2.5rem;">Wer bin ich?</h1>

      <p class="lead text-muted">
        Das Online Spiel mit Freunden
      </p>
  	  
    </div>
  </section>

  <section class="text-left mb-5">
    <div>
      <h3>Spiel starten</h3>

      <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Ein Spiel mit Freunden starten" />
      </form>

    </div>
  </section>

  <section class="text-left mb-5">
    <div>
      <h3>Meine laufenden Spiele</h3>

      @todo

    </div>
  </section>

  <section class="text-left">
    <div>
      <h3>Anleitung</h3>

      - x
      <br>
      - y
      <br>
      - z

    </div>
  </section>


{% endblock %}
