/* -------------------------------------- */
/* Overwrite and complement Bootstrap */

h5 {
    font-style: italic;
    font-size: 115%;
}

a {
    cursor: pointer;
}

table {
    table-layout: fixed;
}

.table td.fit,
.table th.fit {
    width: 50px;
}

table.autoSize {
    table-layout: auto;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.list-group-item-secondary:hover {
    cursor: context-menu;
}

.btn.news {
    width:100%;
    text-align: left;
    background: none;
}

.card-img-top{
    padding: 5px;
    height: 150px;
}

.form-control {
	text-align: center;
}

@media (min-width: 480px) {
	.card-columns{
		column-count:1;
	}
}
@media (min-width: 768px) {
	.card-columns{
		column-count:2;
	}
}
@media (min-width: 992px) {
	.card-columns{
		column-count:3;
	}
}
@media (min-width: 1200px) {
	.card-columns{
		column-count:4;
	}
}


/* -------------------------------------- */
/* Divs and fundamental style */
/* 
    @screen-xs = 480px
    @screen-sm = 768px
    @screen-lg = 1200px
*/


/*@media (max-width: @screen-xs-max) { ... } */
/*@media (max-width: 479px) { ... } */

/*}*/

/*@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {*/
@media (min-width: 768px) {

}


/*@media (min-width: @screen-lg-min) {*/
@media (min-width: 1200px) {

}

/* -------------------------------------- */
/* Class Styles */

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.wrapText {
    white-space: normal;
}

.aNoUndeline {
    text-decoration: none;
}
.aNoUndeline:hover {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.noMarginTop {
    margin-top: 0;
}

.smallText {
    font-size: 85%;
}

.justified {
    text-align: justify;
}

.bigLink {
    font-weight: bold;
    font-size: 115%;
}

.code {
    padding: 5px;
    padding-left: 5vw;
    font-family: "Courier New";
    color: green;
}

.indented {
    padding-left: 5vw;
}

.inline {
    display: inline;
}

.bigCaret {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid;
}

.bigCaretUp {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid;
}

.cutTextOff {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.padding {
    padding: 2vw;
}
.marginPadding {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sideMenu {
    background-color: #f8f8f8;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 1vw;
}

.grey {
    color: #999999;
}

div.noTopBorder {
    border-top:0px;
}

.upload-field{
    min-height: 30px;
    padding-bottom: 37px;
    background: #f2e6ff;
    border: 2px dashed #bf80ff;
    cursor: copy;
}