{% load i18n static %}
{% load base %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
	<head>
		<meta charset="utf-8">
		{% get_site_name as SITE_NAME %}
		<title>{{ SITE_NAME }}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

		<!-- JQuery -->
		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" 
			href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
		<script type="text/javascript" src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>

		<!-- own Stylesheet and Script-->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script type="text/javascript" src="{% static 'js/ajax_csrf_prepare.js' %}"></script>
		
		<!-- Load Functions for the modal -->
    	<script type="text/javascript" src="{% static 'js/modal_handling.js' %}"></script>

		<!-- Cookieconsent -->
		<link rel="stylesheet" type="text/css" href="{% static 'cookieconsent-3/cookieconsent.min.css' %}" />
		<script src="{% static 'cookieconsent-3/cookieconsent.min.js' %}" data-cfasync="false"></script>
		<script type="text/javascript" src="{% static 'js/init_cookieconsent.js' %}"></script>

		{% block css %}{% endblock %}

		{% block javascript %}{% endblock %}

	</head>
	<body class="d-flex flex-column h-100 text-center">



		<!-- Main -->
		<main class="flex-shrink-0" role="main">

			<!-- Navbar: Head Navigation  -->
	  		<nav class="navbar navbar-dark bg-dark shadow-sm sticky-top navbar-expand-md">
	  			
	  			<div class="navbar-brand">
	  				<a href="{% url 'start_page' %}" class="text-white aNoUndeline">
	  					<img src="{# static 'images/FfE-Logo.png' #}" alt="logo" height="35"/>
	  				</a>
	  			</div>

	  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true" aria-label="Aufklappen">
	  				<span class="navbar-toggler-icon"></span>
	  			</button>

	  			<div id="navbarHeader" class="navbar-collapse collapse">
	  				<ul class="navbar-nav mr-auto">
	  					<li class="nav-item">
	  						<a class="nav-link" href="{% url 'start_page' %}">Startseite</a>
						</li>
	  				</ul>
				</div>
			</nav>

			<!-- Messages part -->
			<div class="container">
				{% include 'base/messages.html' %}
			</div>

			<!-- Main content -->
			<div class="container">

				{% block backlink %}
					<div class="text-left" style="position:fixed; z-index:999;">
						<a onclick="javascript:history.go(-1);">
							<button class="btn btn-outline-secondary bold" >
								<i class="fas fa-chevron-left"></i>
							</button>
						</a>
					</div>
				{% endblock %}

				{% block heading %}
				<div class="pb-2 mt-2 mb-2 border-bottom">
					{% block heading-text %}
					{% endblock heading-text %}
    			</div>
				{% endblock heading %}

				{% block content %}
				{% endblock %}

			</div>

		</main>
				


		<!-- Footer -->
		<footer class="footer mt-auto py-3">
			<br><br>
			<hr>

			<div class="smallText text-center">
				<div style="font-style: italic;">&#9400; xyz 2021</div>
				<br/>
				<a href="{# url 'kontakt' #}">Kontakt</a>
				<br />
				<a href="{# url 'impressum' #}">Impressum</a>
				<br />
				<a href="{# url 'datenschutz' #}">Datenschutzerkl&#228;rung</a>
				<br />
			</div>
			
		</footer>



		<!-- modal-template to fill in content -->
	    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
	        <div class="modal-dialog modal-xl" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    <h4 class="modal-title" id="modalLabel"></h4>
	                </div>
	                <div class="modal-body" id="modalBody"></div>
	                <div class="modal-footer">
	                    <div id="modalFooter" style="display:inline-block;"></div>
	                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schlie&#223;en</button>
	                </div>
	            </div>
	        </div>
	    </div>

	</body>
</html>