{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id="messages-alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}

<script type="text/javascript">
  $(document).ready(function(){
    $("div#messages-alert").fadeTo(20000,500).slideUp(500, function(){
      $("div#messages-alert").slideUp(500);
    });
  });
</script>